<a href="https://colab.research.google.com/github/s18943/Homework_PAD/blob/master/4_HomeWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import numpy as np
import pandas as pd
from collections import defaultdict

# Zadanie 1

In [10]:
data = np.genfromtxt("Zadanie_1.csv", delimiter=';')

In [28]:

print('Komurki ',data.shape[1]*data.shape[0])
print('Wierszy ',data.shape[0])
print('Kolumny ',data.shape[1])

print('Średnia ',np.mean(data))
print('Mediana ',np.median(data))
print('Wariancja ',np.var(data))

Komurki  976
Wierszy  61
Kolumny  16
Średnia  nan
Mediana  nan
Wariancja  nan

In [29]:
x = data
x = x[~np.isnan(x)]

print('Średnia ',np.mean(x))
print('Mediana ',np.median(x))
print('Wariancja ',np.var(x))

Średnia  338.2209319148936
Mediana  33.4
Wariancja  1036473.5935947594

# Zadanie 2

In [35]:
np_arr_zd2 = np.genfromtxt("Zadanie_2.csv", delimiter=';')

np_arr_zd2.shape

(10, 10)

In [90]:
print('Wartości wlasnę ',np.linalg.eigvals(np_arr_zd2))
print('Wektory Wlasnę ',np.linalg.eig(np_arr_zd2))
print('Macież odwrotna ',np.linalg.inv(np_arr_zd2))

Wartości wlasnę  [104.34960192 +0.j         -23.35660516+18.84992811j
 -23.35660516-18.84992811j  15.92989017 +0.j
  -4.99456452 +0.j           0.35205717 +5.80125175j
   0.35205717 -5.80125175j  -1.03383491 +0.j
   3.87900166 +1.42651533j   3.87900166 -1.42651533j]
Wektory Wlasnę  (array([104.34960192 +0.j        , -23.35660516+18.84992811j,
       -23.35660516-18.84992811j,  15.92989017 +0.j        ,
        -4.99456452 +0.j        ,   0.35205717 +5.80125175j,
         0.35205717 -5.80125175j,  -1.03383491 +0.j        ,
         3.87900166 +1.42651533j,   3.87900166 -1.42651533j]), array([[-0.29000475+0.j        , -0.07545445+0.07743149j,
        -0.07545445-0.07743149j, -0.03544485+0.j        ,
         0.42681634+0.j        , -0.22172831-0.29869259j,
        -0.22172831+0.29869259j,  0.41343726+0.j        ,
        -0.28670255+0.21891569j, -0.28670255-0.21891569j],
       [-0.24163153+0.j        ,  0.41229621+0.09197324j,
         0.41229621-0.09197324j,  0.45873475+0.j        ,
        -0.27056206+0.j        , -0.01331344+0.1422557j ,
        -0.01331344-0.1422557j , -0.31591047+0.j        ,
         0.41954481-0.10561864j,  0.41954481+0.10561864j],
       [-0.41060573+0.j        ,  0.37509638-0.00960818j,
         0.37509638+0.00960818j,  0.64067986+0.j        ,
        -0.37967609+0.j        , -0.60525232+0.j        ,
        -0.60525232-0.j        ,  0.6457768 +0.j        ,
         0.63631555+0.j        ,  0.63631555-0.j        ],
       [-0.18899971+0.j        , -0.05624951+0.174848j  ,
        -0.05624951-0.174848j  ,  0.25174536+0.j        ,
        -0.07625465+0.j        , -0.14870016-0.00795735j,
        -0.14870016+0.00795735j,  0.15206852+0.j        ,
         0.21373907+0.00228636j,  0.21373907-0.00228636j],
       [-0.42862199+0.j        ,  0.47707538+0.14580554j,
         0.47707538-0.14580554j,  0.39445834+0.j        ,
        -0.69542141+0.j        ,  0.07336021-0.43070469j,
         0.07336021+0.43070469j, -0.25948775+0.j        ,
         0.20250102-0.00411374j,  0.20250102+0.00411374j],
       [-0.14730562+0.j        , -0.57352911+0.j        ,
        -0.57352911-0.j        ,  0.10071325+0.j        ,
         0.30158403+0.j        , -0.04758838+0.12911829j,
        -0.04758838-0.12911829j,  0.21274791+0.j        ,
        -0.1503483 +0.03452906j, -0.1503483 -0.03452906j],
       [-0.34660607+0.j        , -0.13987374+0.06837303j,
        -0.13987374-0.06837303j, -0.04800705+0.j        ,
         0.06798106+0.j        ,  0.00512204+0.04215641j,
         0.00512204-0.04215641j,  0.05365357+0.j        ,
        -0.0534517 +0.00550802j, -0.0534517 -0.00550802j],
       [-0.34919853+0.j        , -0.08414467+0.07749664j,
        -0.08414467-0.07749664j,  0.25925893+0.j        ,
        -0.10039982+0.j        , -0.06761437-0.25584347j,
        -0.06761437+0.25584347j, -0.38214447+0.j        ,
         0.29485109-0.01300678j,  0.29485109+0.01300678j],
       [-0.2440048 +0.j        , -0.13777908+0.00402196j,
        -0.13777908-0.00402196j,  0.27709282+0.j        ,
        -0.00524365+0.j        ,  0.21866893+0.04463336j,
         0.21866893-0.04463336j, -0.12045798+0.j        ,
         0.27558332+0.02285482j,  0.27558332-0.02285482j],
       [-0.38231403+0.j        , -0.00476199+0.03456836j,
        -0.00476199-0.03456836j,  0.04918165+0.j        ,
         0.07322815+0.j        ,  0.1819345 -0.29687727j,
         0.1819345 +0.29687727j, -0.11445044+0.j        ,
         0.02830199+0.00579727j,  0.02830199-0.00579727j]]))
Macież odwrotna  [[ 0.47461371  0.13269253 -0.24726695 -0.82965177  0.28250384 -0.17012825
   0.58274426  0.83686705  0.4146721  -1.56942847]
 [-0.38032531 -0.11226789  0.23216372  0.58853747 -0.2508954   0.10174485
  -0.40729564 -0.58325689 -0.2335154   1.11832726]
 [ 0.13559662  0.58950334 -0.24709855 -0.58789838 -0.30170699 -0.12721938
   0.23740295  1.01003036 -0.02151387 -0.64590149]
 [ 0.01425207  0.14570726 -0.04557569 -0.12721972 -0.08945184 -0.03756624
   0.03910376  0.23606066 -0.01436771 -0.11345749]
 [-0.09473246  0.01725249  0.19145597  0.32960274 -0.28626296  0.08348529
  -0.37577603 -0.27295934 -0.25855803  0.74691827]
 [ 0.16387032  0.10075684 -0.15404907 -0.29794662  0.16916877 -0.02827782
   0.20469921  0.28036265  0.15086178 -0.5882585 ]
 [ 0.04288003  0.02246462 -0.0366803  -0.09024915  0.04322146 -0.01047861
   0.06167348  0.07009721  0.0367806  -0.14185925]
 [-0.26858433 -0.21167346  0.25168367  0.55607234 -0.16804333  0.01066975
  -0.22435849 -0.52957038 -0.15757224  0.77302113]
 [-0.15583541 -0.13041404  0.0984558   0.3150966  -0.09916278 -0.04426337
  -0.20832614 -0.18404388 -0.04309498  0.45794224]
 [-0.05970783 -0.11342903  0.09122544  0.11908074 -0.00311646  0.02370807
  -0.07526552 -0.06924544 -0.10963836  0.16553689]]

# Zadanie 3

In [54]:
np_arr_zd3_A = np.genfromtxt("Zadanie_3_macierz_A.csv", delimiter=',')
np_arr_zd3_B = np.genfromtxt("Zadanie_3_macierz_B.csv", delimiter=',')

def cos_simularity(x, y):
    norm_x = x / np.linalg.norm(x, axis=1, keepdims=True)
    norm_y = y / np.linalg.norm(y, axis=1, keepdims=True)
    return np.matmul(norm_x, norm_y.T)

cos_simularity(np_arr_zd3_A, np_arr_zd3_B)

array([[0.7970534 , 0.93075784, 0.85152689, 0.80479273, 0.86772183],
       [0.3985267 , 0.56879646, 0.57428557, 0.32694705, 0.97618706],
       [0.92108283, 0.9763075 , 0.91890016, 0.9336035 , 0.69421013]])

# Zadanie 4

In [ ]:
df_zd4 = pd.read_csv("Zadanie_4.csv", sep=';').dropna(axis=1)
df_zd4['dat_id'] = df_zd4['DateTime'].apply(lambda x: x[:-5])

In [89]:
grouped_df_zd4 = df_zd4.groupby(['DoctorID', 'dat_id'])
new_df_dict = defaultdict(list)
for i, j in grouped_df_zd4:
  DoctorID = j['DoctorID'].iloc[0]
  Type = j['Type'].iloc[0]
  City = j['City'].iloc[0]
  j['DateTime']= pd.to_datetime(j['DateTime'], format="%d.%m.%Y %H:%M")
  j_iterr = j.iterrows()
  first_row = next(j_iterr)[1]
  prew_row = first_row
  flag = True
  for _, row in j_iterr:
    flag = True
    if not (row['DateTime']-prew_row['DateTime']).total_seconds() / 60 <= 1:
      new_df_dict['From Time'].append(first_row['DateTime'].strftime("%d.%m.%Y %H:%M"))
      new_df_dict['To Time'].append(prew_row['DateTime'].strftime("%d.%m.%Y %H:%M"))
      new_df_dict['DoctorID'].append(DoctorID)
      new_df_dict['Type'].append(Type)
      new_df_dict['City'].append(City)
      flag = False
      first_row = row
    prew_row = row
  if flag:
    new_df_dict['From Time'].append(first_row['DateTime'].strftime("%d.%m.%Y %H:%M"))
    new_df_dict['To Time'].append(prew_row['DateTime'].strftime("%d.%m.%Y %H:%M"))
    new_df_dict['DoctorID'].append(DoctorID)
    new_df_dict['Type'].append(Type)
    new_df_dict['City'].append(City)

final_df_zd4 = pd.DataFrame(new_df_dict)
final_df_zd4

(1, '16.03.2020 ')
(1, '29.03.2020 ')
(2, '16.03.2020 ')
(3, '22.03.2020 ')
(4, '10.04.2020 ')

          From Time           To Time  DoctorID           Type    City
0  16.03.2020 12:00  16.03.2020 12:16         1             GP  Warsaw
1  16.03.2020 13:49  16.03.2020 14:01         1             GP  Warsaw
2  29.03.2020 14:00  29.03.2020 14:37         1             GP  Warsaw
3  16.03.2020 12:00  16.03.2020 12:49         2             GP  Krakow
4  22.03.2020 08:01  22.03.2020 09:06         3        Sugreon  Warsaw
5  10.04.2020 13:20  10.04.2020 13:34         4  Opthomologist  Krakow