<a href="https://colab.research.google.com/github/s18943/Homework_PAD/blob/master/PAD_HOme_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import pandas as pd
from collections import defaultdict

## Zadanie 1

In [7]:
df = pd.read_csv("PAD_03_PD.csv", sep=';')

In [15]:
df['Country'].value_counts()

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

## Zadanie 2

In [17]:
owned_goods_col_list = list('owns_car	owns_TV	owns_house	owns_Phone'.split())
df['owned_goods'] = df[owned_goods_col_list].sum(axis=1)

## Zadanie 3

In [31]:
print(round(df[df['gender'] == 'M']['owned_goods'].mean(),2))
print(round(df[df['gender'] == 'K']['owned_goods'].mean(),2))

0.89
2.79

#### Filling NaN values with most popular

In [49]:
nan_containing_cols = df.columns[df.isna().any()].tolist()

df1 = df.copy()

for col in nan_containing_cols:
  df1 = df1.fillna(df1[col].value_counts().index[0])

## Zadanie 4

In [79]:
grouped = df1.groupby(['Country'])
result = defaultdict(list)
for g_index, g_df in grouped:
  result['Country'].append(g_index)
  result['owned_goods'].append(round(g_df['owned_goods'].mean(),2))
  result['Age'].append(g_df['Age'].min())

df_country_stats = pd.DataFrame(result)

In [80]:
df_country_stats

  Country  owned_goods  Age
0       A         0.87   18
1       B         1.45   18
2       C         3.02   18
3       D         4.00   18